body{
    background-color: blueviolet;
}
.contact-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-list .contact-list--img{
  
    width: 80px;
    height: 80px;
    margin: 0px 20px;
    border-radius:50% ;
}
.contact-list .contact-list--img img{
    border-radius: 50%;
}

.contact-list .contact-list--address{
    padding: 15px 15px;
   
}
.contact-list .contact-list--address p{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;

}
.contact-list .contact-list--address p span{
    font-weight: bold;
}